<div class="content homepage">   
    <h1 class="home" id="heading">Welcome to Admin Dashboard </h1><br>
    <div>
        <button class="btn btn-primary" >Total Order : {{ordersLength}}</button>
        <button class="btn btn-info">Total Products : {{productsLength}}</button>
        <button class="btn btn-warning">Total Users : {{usersLength}}</button>
    </div>
</div>
<script src='/stylesheets/admin.js'></script>