<nav class="navbar">
    <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="navbar-links">
        <ul>
            <li>
                <a href="/">หน้าหลัก</a>
            </li>
            <li>
                <a href="/products">สินค้าของเรา</a>
            </li>
            <li>
                <a href="/shopping-cart">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    <span class="badge">{{session.cart.totalQty}}</span>
                </a>
            </li>
            {{#if login}}
            <li><a href="/user/profile"><i class="fa fa-user" aria-hidden="true"></i> My Profile</a></li>
            <li><a href="/user/logout">Logout</a></li>
            {{else}}
            <li><a href="/user/signup">Sign Up</a></li>
            <li><a href="/user/signin">Sign In</a></li>
            {{/if}}
        </ul>
    </div>
</nav>