<!-- The sidebar -->
<div class="sidebar">
  <a class="active" href="/admin">Home</a>
  <a href="/admin/orders  ">Order</a>
  <a href="/admin/products">Products</a>
  <a href="/admin/users">Users</a>
</div>

<!-- Page content --> 