<!-- The sidebar -->
<div class="sidebar">
  <a href="#" id="head">Welcome Admin</a>
  <a href="/admin" id="sidebar-home">Home</a>
  <a href="/admin/orders" id="sidebar-orders">Order</a>
  <a href="/admin/products" id="sidebar-products">Products</a>
  <a href="/admin/users" id="sidebar-users">Users</a>
</div>
<!-- Page content --> 