<div class="page page-signin">
    <div class="row">
            <h1>Sign Up</h1>
            <p class="up">Already have an account? <a href="/user/signin">Sign in</a></p>
            <form action='/user/signup' method="post">
                <div class="form-group">
                    <label for="email">E-mail</label><br>
                    <input type="text" id="email" name="email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label><br>
                    <input type="password" id="password" name="password">
                </div>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <button type="submit">Sign Up</button>
            </form>
            {{#if hasErrors}}
                <div class="btn alert alert-danger">
                    {{#each messages}}
                        <p>{{this}}</p>
                    {{/each}}
                </div>
            {{/if}}
            <p>* By Logging in, you agree to our Terms of Use and to receive<br>
Our emails & updates and acknowledge that you read our Privacy Policy.</p>
    </div>
</div>