body {
    margin: 0px;
    font-family: 'Prompt', sans-serif;
}

.page {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.page-1 h1 {
    margin: 0;
    font-size: 4em;
    margin-bottom: 0.2em;
}

.page-1 h2 {
    margin: 0;
    margin-bottom: 1em;
    font-size: 2em;
}
.page-1 .btn{
   font-size: 1em;
   padding: 0.5em 1em 0.5em 1em;
   border-radius: 30px;
}

.page-signin .row {
    text-align: center;
}

.page-signin .row p.up {
    font-size: 1.6em;
    margin-bottom: 1.5em;
}

.page-signin form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-signin .row .form-group {
    text-align: left;
    align-items: center;
    justify-content: center;
}

.page-signin .row .form-group input {
    width: 25em;
    border: 0px;
    background-color: #ffffff;
    border-bottom: solid black 1px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1.4em;
}
.page-signin .row .form-group label {
    font-size: 1.4em;
}

.page-signin .row .form-group input:focus {
    outline: none;
    background-color: #ffffff;
}

.page-signin .row button {
    text-align: center;
    margin-bottom: 1em;
    border-radius: 50px;
    width: 10em;
    height: 3em;
    font-size: 1.2em;
    background-color: #ffffff;
    color: rgb(41, 113, 247);
    border: 1px solid rgb(41, 113, 247);
}

.page-signin .row button:hover {
    color: white;
    background-color: rgb(41, 113, 247);
    border: 1px solid rgb(41, 113, 247);
}

.page-signin h1 {
    font-size: 7em;
}
.page-signin p {
    font-size: 1.3em;
}

.page-profile {
    gap: 1em;
}


.page-profile h1{
    font-size: 3em;
    margin-top: 1em;
}
.page-profile h2{
    font-size: 1.75em;
}
.page-profile .flex-row1 {
    display: flex;
    flex-direction: row;
    width: 95vw;
    justify-content: center;
    gap: 4em;
    margin-bottom: 1em;
}

.page-profile .flex-column {
    display: flex;
    flex-direction: column;
    width: 35vw;
    gap: 2em;
}

.page-profile .form {
    display: grid;
    grid-gap: 0.5rem;
}

.page-profile .field {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(137, 135, 135);
    padding: .5rem;
    border-radius: .25rem;
}

.page-profile .field__label {
    color: var(--color-gray);
    font-size: 0.75rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 0.25rem
}

.page-profile .field__input {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    font-weight: bold;
    font-size: 1rem;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
}

.page-profile .field:focus-within {
    border-color: solid 1px #000;
}

.page-profile .fields {
    display: grid;
    grid-gap: 1rem;
}

.page-profile .fields--2 {
    grid-template-columns: 1fr 1fr;
}

.page-profile .fields--3 {
    grid-template-columns: 1fr 1fr 1fr;
}
.page-profile .btn-primary{
   font-size: 0.75em;
   padding: 1em 0em 1em 0em;
}
.page-profile .Pending{
    background-color: rgb(234, 221, 83);
}
.page-profile .Finish{
    background-color: rgb(46, 149, 22);
}
.page-profile .Cancel{
    background-color: rgb(183, 36, 36);
}
.page-profile .accordion{
    overflow: scroll;   
}
.page-profile .accordion-header button{
    font-size: 0.5em;
    border: solid 1px rgb(174, 172, 172);
}
.page-profile .accordion-body{
    border: solid 1px rgb(208, 203, 203);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.page-profile .accordion-body p {
    font-size: 1em;
}
.page-profile .panel-footer {
    font-size: em;
}
.page-profile .list-group-item{
    font-size: 1em;
}
.page-products{
    gap: 2em
}
.page-products .main{
    display: flex;
    width: 100%;
}

.page-products .thumbnail{
    border: 0px;
    width: 20vw;
}
.page-products .thumbnail img{
    height: 20vw;
    width: 20vw;
    object-fit: cover;
}
.page-products a.notAvailable{
    color: red;
}
.page-products .main .middle{
    display: flex;
    justify-content: center;
}
.page-products h1{
    font-size: 3em;
}
.page-products h2{
    font-size: 1.5em;
}
.page-products h3{
    font-size: 1.3em;
    margin-top: 10px;
}
.page-products a{
    font-size: 0.8em;
    text-decoration: none;
}

.page-products .price {
    font-weight: bold;
    font-size: 16px;
}

.space-between{
    display: flex;
    justify-content: space-between;
}

.image-preview {
    width: 100%;
    height: 200px;
    border: 2px solid #dddd;
    margin-bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
}

.image-preview__image {
    display: none;
    max-height: 500px;
    max-width: 100%;
    height: 70%;
    width: auto;
    object-fit: cover
}
.page-cart{
    background-color: #f3f1f1;
}
.page-cart h1{
    font-size: 3em;
    margin-top: 1em;
}
.page-cart h3{
    font-size: 1.3em;
}
.page-cart img{
    width: 150px;
    height: 150px;
}
.page-cart .flex-row-1{
    display: flex;
    flex-direction: row;
    gap:2em;
    background-color: #ffffff;
    padding: 2em;
    border-radius: 2px;
    width: 70vw;
    justify-content: space-between;
}
.page-cart .flex-column-1{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 2em;
}
.page-cart{
    justify-content: flex-start;
    gap: 3em;
}
.page-cart .flex-row-2{
    display: flex;
    flex-direction: row;
    gap:2em;
}
.page-cart .flex-row-3{
    display: flex;
    flex-direction: row;
    gap:5em;
    align-items: center;
    font-size: 2em;
}
.page-cart .flex-row-3 h3{
    font-size: 0.7em;
}

.page-cart .flex-row-2 h2{
    font-size: 2em;
}
.page-cart .flex-row-2 p{
    font-size: 1em;
    max-width: 250px;
}
.page-cart .flex-column-below{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.page-cart .flex-column-between{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.page-cart .flex-column-between a{
    font-size: 2em;
    color: rgb(175, 42, 42);
}
.page-cart .total{
    background-color: #f3f1f1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.page-cart .total a{
    font-size: 1em;
}
.page-cart #price{
    color: rgb(134, 133, 133);
    
}


.page-checkout {
    gap: 2em;
}
.page-checkout h1{
    font-size: 4em;
}
.page-checkout h2{
    font-size: 2.5em;
}
.page-checkout button{
    width: 10em;
    border-radius: 10px;
}
.page-checkout .flex-row1 {
    display: flex;
    flex-direction: row;
    width: 95vw;
    justify-content: center;
    gap: 4em;
}
.page-checkout .flex-column {
    display: flex;
    flex-direction: column;
    width: 50vw;
    overflow: scroll    ;
}

.page-checkout .flex-column-sum {
    display: flex;
    flex-direction: column;
    width: 35vw;
    
}
.page-checkout .flex-column-insum{
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 240, 240);
    overflow: scroll;
    padding: 1em 2em 1em 2em;
    border-radius: 10px;
}

.page-checkout form {
    background-color: #f9f9f9;
    padding: 1em 2em 1em 2em;
    border-radius: 10px;
}

.page-checkout .field {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(137, 135, 135);
    padding: .5rem;
    border-radius: .25rem;
}
.page-checkout .field1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    border-radius: .25rem;
    font-size: 2em;
    text-align: center;
}
.page-checkout .field2 {
    padding: .5rem .5rem 0 .5rem;
    border-radius: .25rem;
    font-size: 1.75em;
}
.page-checkout ul {
    margin: 0rem .5rem .5rem 2rem;
    font-size: 1.5em;
}

.page-checkout .field__label {
    color: var(--color-gray);
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 0.25rem
}

.page-checkout .field__input {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    font-weight: bold;
    font-size: 1.5rem;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
}

.page-checkout .field:focus-within {
    border-color: solid 1px #000;
}

.page-checkout .fields {
    display: grid;
    grid-gap: 1rem;
}

.page-checkout .fields--2 {
    grid-template-columns: 1fr 1fr;
}

.page-checkout .fields--3 {
    grid-template-columns: 1fr 1fr 1fr;
}
.page-checkout .btn-primary{
    height: 4em;
}
.page-checkout .tab {
    display: none;
}
.page-checkout .required{
    color: red;
}
.page-checkout .red{
    border: solid 1px red;
}
.page-checkout img{
    width: 50px;
    height: 50px;
}
.page-checkout .flex-row-1{
    display: flex;
    flex-direction: row;
    gap:2em;
    padding: 2em;
    border-radius: 2px;
    justify-content: space-between;
}
.page-checkout .flex-column-1{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 2em;
}
.page-checkout .flex-row-2{
    display: flex;
    flex-direction: row;
    gap:2em;
}
.page-checkout .flex-row-3{
    display: flex;
    flex-direction: row;
    gap:5em;
    align-items: center;
    font-size: 2em;
    justify-content: space-between;
}
.page-checkout .flex-row-3 h4{
   font-size: 0.85em;
   color: #5d5d5d;
}

.page-checkout .flex-row-2 h2{
    font-size: 2em;
}
.page-checkout .flex-row-2 p{
    font-size: 1.3em;
    max-width: 250px;
}
.page-checkout .flex-column-below{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.page-checkout .flex-column-between a{
    font-size: 2em;
    color: rgb(175, 42, 42);
}
.page-checkout .total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.page-checkout .total a{
    font-size: 1.5em;
}
.page-checkout #price{
    color: rgb(134, 133, 133);
}
.page-checkout .pad-top{
    padding: 0 2em 0 2em;
}
.page-checkout .middle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1em;
}
.page-checkout .payment-info{
    margin: 0 0 1.5em 0;
}
.page-checkout .mb-3{
    margin-top: 1em;
    font-size: 1.5rem;
}
.content tbody{
    font-size: 0.75em;
}
/* Navbar */
.navbar {
    display: flex;
    padding: 2em 5em 2em 5em;
    font-weight: 500;
    font-size: 1.2em;
    justify-content: flex-end;
    height: 10vh;
    align-content: center;
}

.navbar a {
    text-decoration: none;
    font-size: 1em;
    color: black;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 2em;
}

.navbar-links li {
    list-style: none;
}

.toggle-button {
    position: absolute;
    top: 1.75rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
.content{
    font-size: 1.4em;
}
.content i{
    font-size: 1.5em;
    color: rgb(168, 24, 24);
}
.content table{
    text-align: center;
}
@media (max-width: 991px){
    .page-products .row {
        flex-direction: column;
    }
    .page-products .thumbnail {
        width: 70vw;
    }
    .page-products .thumbnail img{
        width: 70vw;
        height: auto;
    }
    .page-checkout .flex-row1{
        flex-direction: column;
        align-items: center ;
        height: auto;
    }
    .page-checkout .flex-column{
        width: 90vw;
        overflow: visible;
    }
    .page-checkout .flex-column-sum{
        width: 90vw;
        overflow: visible;
        margin-bottom: 2em;
    }
}
@media (max-width: 768px){
    .page-products .col-md-6 {
        width: auto;
    }
    .page-products .thumbnail {
        width: 70vw;
    }
    .page-products .thumbnail img{
        width: 70vw;
        height: auto;
    }
    .page-cart .flex-row-1{
        flex-direction: column;
    }
    .page-cart .flex-row-2  {
        flex-direction: column;
        align-items: center ;
    }
    .page-cart .flex-row-3  {
       justify-content: space-between;
    }
}

@media (max-width: 680px) {
    .page {
        height: auto;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: 0.5rem 1rem;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        background-color: rgb(0, 0, 0, 0.2);
    }

    .navbar-links.active {
        display: flex;
    }

    h1 {
        margin-top: 10vw !important;
        font-size: 8vmin !important;
    }

    h2 {
        font-size: 5vmin !important;
    }
    .page-profile .flex-row1{
        flex-direction: column;
        width: auto;
        height: auto;
        margin-bottom: 3em;
    }
    .page-profile .flex-column{
        width: 80vw;
    }
    .page-products h1 {
        font-size: 5vmin !important;
    }

    .page-products h2 {
        font-size: 3vmin !important;
    }
    .page-products h3 {
        font-size: 3vmin !important;
    }
    .price{
        font-size: 2vmin !important;
    }
    .page-cart .total{
        padding: 0;
    }
}

/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    font-size: 1.4em;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 150px;
    padding: 1px 16px;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
}